@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$title-font: 'Open Sans';
$body-font-family: 'Open Sans';

$btn-font-weight: 600;

.v-application {
  font-family: $title-font;
}
